/*Todoitem CSS*/
.toggle {
  text-decoration: line-through;
}

.todo_wrap {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.todo_input {
  width: 215px;
  height: 25px;
  font-size: 18px;
  border: 0px;
  border-bottom: 1px solid #748fa6;
}

.icon_button {
  cursor: pointer;
}
