/*Main CSS*/
@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&family=Rubik:wght@700&display=swap");

.body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #748fa6;
}

.body > .todo_header {
  margin-bottom: 20px;
  margin-left: 10px;
  color: white;
  font-size: 36px;
  font-family: "Rubik", sans-serif;
  text-shadow: 3px 2px 2px #a3c4bc;
}

.todo_card {
  width: 300px;
  height: 400px;
  background-color: white;
  box-shadow: 50px -13px #a3c4bc;
  overflow: auto;
}

.todo_card::-webkit-scrollbar {
  width: 4px;
}
