body {
  padding: 0 !important;
  margin: 0 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100vw;
  height: 71px;
  background-color: white;
  box-shadow: 0px 10px 10px -10px rgb(221, 221, 221);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#title {
  font-size: 18px;
  margin-left: 20px;
}

.title_left span {
  padding: 0px 13px;
  font-size: 15px;
}

.btn {
  width: 70px;
  height: 28px;
  background-color: white;
  border: 1px solid #007bff;
  color: #007bff;
  border-radius: 3px;
  font-size: 15px;
}

.title_left button {
  margin: 0px 20px 0px 10px;
}

main {
  height: 668px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main_title {
  padding: 30px 10px;
  font-size: 50px;
  font-weight: lighter;
  color: #212529;
}

#main_text {
  width: 45vw;
  line-height: 30px;
  font-weight: lighter;
  font-size: 18px;
  color: rgb(94, 94, 94);
  text-align: center;
  padding: 0px 0px 40px 0px;
}

.card_warp {
  display: flex;
}

.main_card {
  height: 344px;
  width: 288px;
  margin-right: 32px;
  box-shadow: 2px 2px 2px 2px rgb(226, 224, 224);
}

.main_card-header {
  font-size: 25px;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54px;
  text-align: center;
  border: 1px solid rgb(221, 221, 221);
}

.main_card-dollor {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 272px;
  width: 288px;
  font-size: 22px;
}

.main_card-dollor-mo {
  font-size: 34px;
  font-weight: 500;
  color: gray;
  font-weight: 500;
  padding: 20px 20px;
}

.main_card-dollor-mo > span {
  color: black;
  font-weight: 600;
}

.main_card-dollor-mo + span {
  width: 50%;
  text-align: center;
  line-height: 26px;
  margin-bottom: 20px;
  font-size: 17px;
}

.main_btn {
  width: 199px;
  height: 48px;
  font-size: 19px;
}

.main_card:nth-child(2) button,
.main_card:nth-child(3) button {
  background-color: #007bff;
  color: white;
}

footer {
  padding-top: 49px;
  width: 930px;
  height: 231px;
  border-top: 1px solid rgb(207, 207, 207);
  display: flex;
}

.footer_col {
  display: flex;
  flex-direction: column;
  width: 240px;
  font-size: 18px;
  font-weight: 600;
}

.footer_col > span:first-child {
  margin-top: 10px;
}

.footer_col span {
  font-size: 15px;
  font-weight: 200;
  color: gray;
  line-height: 23px;
}

.footer_col img {
  width: 24px;
  height: 24px;
  margin-bottom: 10px;
}
